html {
	box-sizing: border-box;
	font-size: 100%;
	scroll-behavior: smooth;
	background: #ffffff; /* white */
}

body {
	padding: 0;
	margin: 0;
	background-color: #F5F5F5;
}

#page-wrapper {
	posititon: static; /*rel*/
}

header {
	position: absolute; /*fix*/
	top: -10px;
	min-height: 75px;
	padding-top: 10px;
	margin-left: -10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 11;
}

@media (max-width: 600px) {
  	header {
    	flex-wrap: wrap;
  }
}

.logo {
	width: 15vw;
}

@media (max-width: 650px) {
  	.logo {
    	margin-top: 15px;
    	width: 100%;
    	position: static; /*rel*/
  }
}

.logo > img {
  	width: 100%;
  	height: 100%;
  	max-width: 300px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

.nav {
	display: flex;
	justify-content: flex-end;
	position: static; /*fix*/
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #1A2238; /* dark blue */
	z-index: 10;
}

.nav-list {
	display: flex;
	margin-right: 2rem;
}

@media (max-width: 28.75em) {
  	.nav {
    	justify-content: center;
}

.nav-list {
    	margin: 0 1rem;
  }
}

.nav-list a {
  	display: block;
  	font-size: 1.2rem;
  	padding: 1rem;
}

.nav-list a:hover {
	transform: translateY(5px);
}

nav ul {
	list-style: none;
}

.nav a {
	text-decoration: none;
	color: #ffffff;
}

.info-section {
	/*position: center;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	text-align: justify;
	margin-top: 100px;*/
	background: #1A2238; /* dark blue */
	font-size: 1.1em;
	font-family: 'Poppins', sans-serif;
	height: 55vh;
	padding-top: 1px;
	
}
/*
.about-section {
	display: grid;
	grid-template-columns: 50% 50%;

}

.about-section-header {
	text-align: center;
	font-size: 2em;
	
}

.about-us-text {
	margin: 0px 10px 0px 10px;
	padding: 20px;
	color: #F5F5F5,
}


.text-1 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	margin: 250px 20px 20px 300px;

}

.text-2 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 20px 20px 270px;
}

.text-3 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 20px 20px 470px;
}
*/

.user-section {
	background-color: #1A2238; /* light blue*/
}

.user-section-header {
	text-align: center;
	display: block;
	padding: 5px;
	color: #9DAAF2;
	text-decoration: underline white;
	text-decoration-color: #9DAAF2;
}

.user-section-title h2 {
	color: #ffffff;
	font-size: 2rem;
}

.user-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 4rem;
	width: 100%;
	margin: 0 auto;
	max-width: 1600px;
	padding: 0px 0px 96px 0px;
}

.user-grid > div {
	background-color: #374785 ; /* dark blue */
	background-image: linear-gradient(58deg, #374785 10%, #1A2238 100%);
	padding: 0.7em;
	
}

.user-grid > div:nth-child(odd) {
	background-color: #374785 ; /* dark blue */
}


.user-image {
	height: calc(100% - 7rem);
	width: 100%;
	object-fit: cover;
	background: #f8f8ff; /* offwhite */
}

.user-name {
	font-size: 1.4em;
	text-align:center;
	margin-top: -2px;
	color: #f8f8ff; /* offwhite */
}

.user-description {
	font-weight: 500;
	font-size: 1.2em;
	color: #f8f8ff;
	margin: -20px;
}

.user-description li a {
	text-decoration: none;
	color: #9DAAF2; /* purple */
}

/*new gallery*/

img {
	block-size: auto;
  	max-inline-size: 100%;
  	vertical-align: middle;
}

/* Embed */

.embed {
  	overflow: hidden;
  	padding-block-start: 100%;
  	position: relative;
}

.embed--1-2 {
  	padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
  	padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
  	padding-top: calc(100% / (2 / 3));
}

.embed > * {
  	height: 100%;
  	left: 0;
  	object-fit: cover;
  	padding: 0.25em;
  	position: absolute;
  	top: 0;
  	width: 100%;
}

.photo-gallery-title {
	text-align: center;
	background-color: #f76c6c; /* light red*/
	padding: 5px;
	font-style: italic;
}

.photo-gallery-title h2 {
	color: #ffff;
	font-size: 2rem;
	text-decoration: underline;
}

.gallery {
	background-color: #f76c6c; /* light red*/
	padding-bottom: 100px;
}
.gallery-div {
  	display: grid;
  	grid-template-columns: repeat(8, 1fr);
  	grid-template-rows: repeat(5, 1fr);
  	width: 85%;
	margin: auto;
	border: solid;
	border-color: black;
	border-style: inset;
	border-radius: 5px;
}

.gallery-div img {
  	filter: grayscale(100%);
  	transition: filter 0.8s;
}

.gallery-div img:hover {
  	filter: none;
}

.gallery__item--h-2 {
  	grid-column-end: span 2;
}

.gallery__item--h-3 {
  	grid-column-end: span 3;
}	

.gallery__item--v-2 {
  	grid-row-end: span 2;
}

.gallery__item--v-3 {
  	grid-row-end: span 3;
}

.btn {
  	display: inline-block;
  	padding: 1rem 2rem;
  	border-radius: 2px;
}

.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
	text-align: center;
	width: 100%;
	height: 55vh;
	padding-top: 20px;
	background: #1A2238;
}

.contact-section-header > h2 {
	font-size: 4rem;
	color: #F4DB7D; /* yellow */
	text-decoration: underline;
}


@media (max-width: 28.75) {
	.contact-section-header > h2 {
		font-size: 4rem;
	}
}

.contact-section-header > p {
	font-style: italic;
	font-size: 2rem;
	color: #f8e9a1; /* eggshell */
}

.contact-links {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 4rem;
	flex-wrap: wrap;
}

.contact-details {
	font-size: 2.4rem;
	text-shadow: 2px 2px 1px #1f1f1f;
	transtition: transform 0.3s ease-out;
	color: #f8e9a1; /* yellow */
	text-decoration: none;
}

.contact-details:hover {
	transform: translateY(8px);
}

.footer-section {
	background: #1A2238; /* darkblue */
	padding: 1px 0px 1px 0px;
}

.footer-section p {
	color: white;
	text-align: center;
}